// Colors
$color-black: #000000;
$color-white: #FFFFFF;

// Dimensions
$desktop: 992px;
$tablet: 1024px;
$tablet-portrait: 768px;
$mobile: 480px;

// Fonts
$font-default: Helvetica;

// Font Weights
$font-light: 300;
$font-book: 400;
$font-medium: 500;
$font-normal: normal;
$font-demi: 700;
